/**
 * ffbAccordion component styles.
 *
 * @package    ffbAccordion
 * @author     Murat Purc
 * @copyright  four for business AG <www.4fb.de>
 */

/*

Example markup:
---------------
<div class="ffb-accordion">
    <div class="accordion-title open">
        Title
    </div>
    <div class="accordion-content open">
        Content
    </div>
    <div class="accordion-title">
        Title 2
    </div>
    <div class="accordion-content">
        Content 2
    </div>
</div>

*/

.ffb-accordion .accordion-title {
    /*background: url("../images/icon_accordion_open.png") no-repeat scroll 4px center transparent;*/
    background: url("../common/images/icon_accordion_link.png") no-repeat scroll 4px center transparent;
    border-bottom: 1px solid #e5e5e5;
    clear: both;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 20px;
}
.ffb-accordion .accordion-title.open {
    /*background: url("../images/icon_accordion_close.png") no-repeat scroll 4px center transparent;*/
    background: url("../common/images/icon_accordion_link_open.png") no-repeat scroll 4px center transparent;
}
.ffb-accordion .accordion-content {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
}
.ffb-accordion .accordion-content:after {
    clear: both;
    content: '';
    display: table;
}
.ffb-accordion .accordion-content .accordion-row {
    line-height: 30px;
}
.ffb-accordion .accordion-content .accordion-row a {
    background: url("../common/images/icon_accordion_link.png") no-repeat scroll 9px center transparent;
    color: #bf002b;
    font-weight: bold;
    padding: 0 0 0 20px;
    text-decoration: none;
}
.ffb-accordion .accordion-content .accordion-row a:hover {
    text-decoration: underline;
}
.ffb-accordion .accordion-content.open {
    height: auto;
    overflow: visible;
}