/* .form-default .row.submit */
.form-default .row.submit {
    min-height: 25px;
}
.form-default .row label {
    max-height: 36px;
    text-overflow: ellipsis;
}
.form-default .row.submit input {
    float: right;
}
.ffbdropdown-main.default.active {
    z-index: 20;
}
.form-default .row.text label:after,
.form-default .row.static-text label:after,
.form-default .row.checkbox label:first-child:after {
    content: ":";
}
.form-default .row.static {
    display: block !important;
}
.form-default .row.view .value {
    border: 1px solid #d2d2d2;
    padding-left: 4px;
}

/* form-user */
.form-user.form-default {
    padding: 40px 0 0 0;
    position: static;
}
.form-user .sec-top-controls {

}
.form-user .sec-top-controls .row {
    float: right;
    margin: 0;
}
.form-user .sec-top-controls .row label {
    text-align: right;
    text-transform: uppercase;
}
/*.form-user.form-default .password-block input[type="password"] {
    width: 40%;
}*/
.form-user.form-default .column.buttons .row {
    float: right;
}
.form-user.form-default .row.input-button {
    height: 0;
    margin: 0 0 0 155px;
    min-height: 0;
}
.form-user.form-default .row.input-button input {
    position: absolute;
    right: 0;
    top: -35px;
}
.form-user .user-rights {

}
.form-user .user-rights .row {
    margin: 0 0 5px 0;
    min-height: 22px;
}
.form-user .user-rights .row i {
    background: url('../../backend/images/sprite_checkbox.png') no-repeat scroll right top transparent;
    display: block;
    float: left;
    height: 17px;
    margin: 3px 10px 0 0;
    width: 17px;
}
.form-user .user-rights .row.enabled i {
    background-position: left top;
}
.form-user .user-rights .row span {

}
.form-user .user-rights hr.thin {
    margin: 10px 0;
}

/* .form-attribute */
.form-attribute.form-default label small {
    font-style: italic;
}
.form-attribute.form-default .length .row {
    display: inline-block;
    max-width: 200px;
    margin-right: 15px;
}

/* .form-attribute-group */
.form-sort-entities.form-default {
    width: 40%;
}
.form-sort-entities.form-default li {
    color: #d2d2d2;
    border: 1px solid #d2d2d2;
    margin: 3px 0;
    padding: 2px 0 2px 10px;
    width: 100%;
    cursor: move;
}
.form-sort-entities .sortable.active.ui-sortable li {
    position: relative;
}
.form-sort-entities.form-default ul  li:after {
    background: url("../../backend/images/pimgpsh_thumbnail_win_distr.jpg") no-repeat scroll center center;
    content: "";
    height: 20px;
    position: absolute;
    right: 0;
    width: 20px;
}

/* .form-product-group */
.form-category.form-default .ffbdropdown-list .second-level {
    margin-left: 22px;
}

/* .form-product */
body.dold .form-product.form-default .master-lang {
    color: #df7627;
}
body.dold .form-product.form-default .ffb-accordion .row {
    margin-left: 0;
}
body.dold .form-product.form-default .ffb-accordion .row.is-inherited {
    position: absolute;
    right: 27px;
    z-index: 10;
}
body.dold .form-product.form-default .ffb-accordion .row.is-inherited label {
    padding-right: 0;
}
body.dold .form-product.form-default .ffb-accordion .row.is-inherited input[type="checkbox"] {
    position: absolute;
    right: -23px;
    top: 6px;
}
body.dold .form-product.form-default .ffb-accordion .row label {
    left: 0;
    width: 100%;
    position: relative;
    padding-right: 155px;
    box-sizing: border-box;
    float: none;
}
body.dold .form-product.form-default .ffb-accordion .row .mce-tinymce.mce-container.mce-panel {
    clear: both;
}
body.dold .form-product.form-default .ffb-accordion .row input {
    box-sizing: border-box;
    margin-left: 0;
    position: relative;
}
body.dold .form-product.form-default .ffb-accordion .row .ffbdropdown-main {
    margin-left: 0;
}
body.dold .form-product.form-default .ffb-accordion .row:not(.is-inherited) input[type="checkbox"] {
    float: none;
}
body.dold .form-product.form-default .ffb-accordion .row .fileupload-wrapper {
    margin-left: 0;
    clear: none;
}

.form-product.form-default .ffb-accordion .fileupload-list {
    display: inline-block;
}
.form-product.form-default .ffb-accordion .mce-tinymce {
    margin-left: 0;
}
.form-product.form-default .ffb-accordion .row.view .value {
    clear: both;
}
.form-product.form-default .ffb-accordion .range-values {
    clear: both;
}
.form-product.form-default .ffb-accordion .range-values .row {
    width: 49%;
    display: inline-block;
    overflow: hidden;
}
.form-product.form-default .ffb-accordion .range-values .row:last-child {
    margin-left: 1%;
}
.form-product.form-default .active-lang {
    float: right;
}
.form-product.form-default .row.category-breadcrumb {
    margin-left: 0;
    text-align: center;
}
.form-product.form-default .row.category-breadcrumb ul {

}
.form-product.form-default .row.category-breadcrumb ul li {
    display: inline-block;
}
.form-product.form-default .row.category-breadcrumb ul li:after {
    content: '\00bb';
    font-size: 20px;
    margin: 0 5px 0 10px;
    position: relative;
    top: 1px;
}
.form-product.form-default .row.category-breadcrumb ul li:last-child:after {
    display: none;
}
.form-product.form-default .row.header {
    margin-left: 0;
}
.form-product.form-default .row.header h2 {
    display: inline;
    padding-left: 0;
}
.form-product.form-default .row.header h2 i {
    text-transform: none;
}
.form-product.form-default .row.header .icon-edit {
    margin: 0 0 0 10px;
}
.form-product.form-default .row.header .info {
    color: #999;
}
.form-product.form-default .column.full.details {
    display: none;
}
.form-product.form-default .row.header .info .text {
    text-decoration: underline;
    font-size: 12px;
}
.form-product.form-default .column.basic-data label {
    z-index: -1;
}
.form-product.form-default .column.basic-data .row.select {
    display: inline-block;
    margin-left: 20px;
    width: 100px;
}
.form-product.form-default .column.basic-data .row.select:first-child {
    margin-left: 100px;
}
.form-product.form-default .column.basic-data .row.select:first-child label {
    left: -99px;
}
.form-product.form-default .column .row.select.is-system,
.form-product.form-default .column .row.select.parent,
.form-product.form-default .column .row.select.online {
    width: 100px;
}
.form-product.form-default .column .row.select.online .ffbdropdown-main.default {
    border: none;
}
.form-product.form-default .row.submit {
    position: absolute;
    margin-top: -40px;
    right: 0;
}
.form-product.form-default hr {
    margin: 10px 0 20px;
    padding: 0;
}
.form-product.form-default .tabs {
    margin-bottom: 10px;
}
.form-product.form-default .tab-content {
    margin: 0 0 20px 0;
    background-color: #f1f1f1;
    padding: 10px 0;
}
.form-product.form-default .tab-content.assigned-products .controlls .ui-autocomplete-input {
    width: 300px;
}
.form-product.form-default .tab-content.assigned-products .controlls {
    margin-left: 10px;
}
.form-product.form-default .tab-content.assigned-products .results li {
    line-height: 20px;
    padding: 0 10px;
}
.form-product.form-default .tab-content.assigned-products .results li:hover {
    background-color: #dcdcdc;
}
.form-product.form-default .tab-content.assigned-products .results .remove {
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    background: url(../../backend/images/icon_close.png) no-repeat center center;
    cursor: pointer;
}
.form-product.form-default .tab-content.multiple-usage {
    padding: 10px 20px;
}
.form-product.form-default .tab-content.multiple-usage input[type="checkbox"] {
    top: 0;
}
.form-product.form-default .row.header .icon-edit {
    height: 13px;
    background-position: center center;
}
.form-product.form-default .ffb-accordion.lamella .accordion-title .delete {
    display: none;
}

/* .form-root-product */
.form-root-product.form-default .column.full.centered
/*,.form-root-product.form-default .column.full.centered + hr */
{
    display: none;
}
.form-root-product.form-default .row.submit {
    position: relative;
    margin-top: 0;
}
.form-root-product.form-default {
    margin-top: 0;
}

/* .form-search-subnavi */
.form-search-subnavi .row.text {
    margin: 0 29px 0 36px;
}
.form-search-subnavi .row.submit {
    position: relative;
    float: right;
    overflow: hidden;
    margin-top: -26px;
}
.form-search-subnavi .row input[type="submit"] {
    border: 0 none;
    cursor: pointer;
    height: 25px;
    margin: 0;
    opacity: 0;
    padding: 0;
    /*position: absolute;*/
    width: 25px;
}
.panemanager > .panemanager-pane.sub-navi-pane .form-default.form-search-users-subnavi .form-header {
    padding-left: 38px;
}
.panemanager > .panemanager-pane.sub-navi-pane .form-default.form-search-users-subnavi .form-header a {
    position: absolute;
    right: 16px;
    top: 0;
}

/* .form-search-product-subnavi */
body.dold .panemanager-pane.sub-navi-pane .form-search-product-subnavi .button.add {
    margin-right: 15px;
}
.form-search-product-subnavi .button.gray.add {
}
.form-search-product-subnavi .select.system {
    position: absolute;
    right: 13px;
    top: -1px;
}
.form-search-product-subnavi .select.system .ffbdropdown-main {
    border: none;
    width: 10px;
    padding-left: 0;
}
.form-search-product-subnavi .select.system .ffbdropdown-main .wrap {
    padding: 0;
    width: 10px;
    cursor: pointer;
}
.form-search-product-subnavi .select.system .ffbdropdown-main.default .ffbdropdown-list {
    margin-left: -110px;
    width: 120px;
}
.form-search-product-subnavi .select.system .ffbdropdown-main.default .ffbdropdown-list li {
    cursor: pointer;
}
.form-search-product-subnavi .select.system .ffbdropdown-main.default .ffbdropdown-list li:last-child {
    background: url("../../images/backend/icon_system.png") no-repeat 100px center transparent;
}
.form-search-product-subnavi .select.system .ffbdropdown-main.default .ffbdropdown-list li:last-child:hover {
    background-color: #eee;
}
.form-search-product-subnavi .select.system .ffbdropdown-value {
    display: none;
}

/* .form-root-product */
.form-root-product .column.full.basic-data {
    display: none;
}
.form-root-product .row.checkbox.is-inherited {
    display: none;
}